* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  margin-top: 20px;

}

.field:not(:last-child) {
  margin-right: 10px;

}

.field {
  padding: 10px;
  border-radius: 5px;
  background-color: #18caa369;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 50px;
}

.flatpickr-input {
  padding: 8px;
}

button {
  padding: 7px 15px;
  font-size: 14px;
}

button:hover {
  background-color: #18caa369;
}